<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="vehicle" class="grooming.springdemo.Train" />
	<!-- <bean id="car" class="grooming.springdemo.Car" /> -->
	<bean id="employee" class="grooming.springdemo.Employee"
	autowire="byName">
		<!-- <property name="vehicle" ref="car"></property> -->
	</bean>
</beans>